#### 2557. Hello World

In [1]:
print("Hello World!")

Hello World!

#### 10718. We love Kriii

In [2]:
print("강한친구 대한육군")
print("강한친구 대한육군")

강한친구 대한육군
강한친구 대한육군

#### 10171. 고양이

In [3]:
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

#### 10172. 개

In [4]:
print("""|\_/|
|q p|   /}
( 0 )\"\"\"\\
|"^"`    |
||_/=\\\__|""")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

#### 1000. A+B

In [5]:
a, b = map(int, input().split())
print(a+b)

1 2
3

In [6]:
# map 함수 : 리스트의 요소를 함수에 넣고 리턴된 값으로 새로운 리스트를 구성해 주는 함수
# split 함수 : 문자열 자르기
# map(int, input().split()) : input()으로 입력받은 문자열을 split()을 이용해 공백으로 나눈 리스트로 바꾼 후, map을 이용하여 해당 리스트의 모든 원소에 int()를 적용

#### 1001. A-B

In [7]:
a, b = map(int, input().split())
print(a-b)

1 2
-1

#### 10998.AXB

In [8]:
a, b = map(int, input().split())
print(a*b)

1 2
2

#### 1008. A/B

In [9]:
a, b = map(int, input().split())
print(a/b)

1 2
0.5

#### 10869. 사칙연산

In [10]:
a, b = map(int, input().split())
print(a+b)
print(a-b)
print(a*b)
print(int(a/b)) # 정수형태 출력
print(a%b)

1 2
3
-1
2
0
1

#### 10926.??!

In [11]:
a = input()
print (a + "??!")

1
1??!

#### 18108. 1998년생인 내가 태국에서는 2541년생?!

In [12]:
a = int(input())
b = a - 543
print (b)

1
-542

#### 10430. 나머지

In [13]:
A, B, C = map(int, input().split())
print((A+B)%C)
print(((A%C) + (B%C))%C)
print((A*B)%C)
print(((A%C) * (B%C))%C)

1 2 3
0
0
2
2

#### 2588. 곱셈

In [14]:
a = input()
b = input()
c = int(a)* int(b[2])
d = int(a)* int(b[1])
e = int(a)* int(b[0])
f = e * 100 + d * 10 + c
print(c)
print(d)
print(e)
print(f)

123
456
738
615
492
56088